# Helius RPC
HELIUS_API_KEY=sua_api_key_aqui
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=sua_api_key_aqui

# Servidor
PORT=4000
NODE_ENV=development

# Seguranca: senha de acesso ao app (compartilhada entre os 3 usuarios)
APP_SECRET=troca_por_uma_senha_forte_aqui

# Jito tip account (nao alterar)
JITO_TIP_ACCOUNT=96gYZGLnJYVFmbjzopPSU6QiEV5fGqZNyN9nmNhvrZU5
